body {
    margin: 0;
    min-width: 980px;
}

#head {
    position: relative;
    width: 100%;
    background-color: purple;
    height: 80px;
}

#none {
    position: relative;
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

#head ul {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 0px;
    margin: 0;
}

#tab li {
    float: left;
    list-style: none;
    margin: 0 0 0 28px;
    font-family: 宋体；
}

#tab {
    display: inline;
}

#head img {
    position: absolute;
    right: 10px;
    bottom: 0;
}

#head span {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 0px;
    bottom: 5px;
}

#img {
    background-color: black;
    background-image: url(1.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
}

#kong {
    height: 100%;
    width: 980px;
    margin: 0 auto;
    position: relative;
}

#text {
    padding: 0px 10px 30px 10px;
    background: rgba(255, 255, 255, 0.3);
    /*-webkit-linear-gradient(top, rgba(white 0.7), rgba(white 0.5), rgba(white 0));*/
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 350px;
}

#text h1 {
    float: right;
    display: inline;
    font-size: 14px;
    color: white;
}

#text p {
    text-indent: 25px;
    clear: right;
    font-size: 12px;
    color: white;
    opacity: 1;
}

#main1 {
    background-color: pink;
    height: 480px;
}

#empty {
    width: 990px;
    height: 100%;
    margin: 0 auto;
}

.three {
    background-color: white;
    float: left;
    margin: 10px 10px 10px 0;
    width: 320px;
    height: 353px;
}

.three p {
    font-size: 12px;
    line-height: 1.7;
    margin: 0;
    text-indent: 20px;
    text-align: center;
    /*padding: 15px 30px 25px 30px;*/
}

.three img {
    width: 300px;
    height: 180px;
    margin: 10px 10px;
}

#main2 {
    background-color: white;
}

#photo {
    background-image: url(23.png);
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-position: center;
    margin: 0px auto;
    position: relative;
    top: -50px;
}

#main2 h1 {
    font-size: 20px;
    font-family: Century Gothic;
    color: black;
    text-align: center;
    margin: 0px;
}

#main2 p {
    text-indent: 20px;
    font-size: 14px;
    color: black;
    width: 600px;
    margin: 50px auto;
    margin-bottom: 100px;
}

#bottom1 {
    background-color: black;
    text-align: center;
    border-bottom: 1px solid white;
}

#bottom1 ul {
    padding: 0;
    margin: 0;
}

#bottom1 li {
    display: inline;
    color: white;
    margin: 0px 0px 0px 30px;
    list-style: none;
    line-height: 21px;
}

#bottom2 {
    background-color: black;
    height: 500px;
    text-align: center;
}

#bottom2 ul {
    float: left;
    list-style: none;
    color: white;
    margin-right: 100px;
    padding: 0;
    position: relative;
    width: 95px;
}

#bottom2 li {
    color: white;
}

#bottom2 img {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

#bottom2 h2 {
    clear: left;
    color: white;
    margin: 0px auto;
    position: relative;
    top: 160px;
}

#kong2 {
    position: relative;
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

.hover {
    text-decoration: underline;
}

@media screen and (max-width:980px) {
    #head img {
        display: none;
    }
}