body {
    margin: 0;
    min-width: 980px;
}

#head {
    position: relative;
    width: 100%;
    background-color: purple;
    height: 80px;
}

#none {
    position: relative;
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

#head ul {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 0px;
    margin: 0;
}

#tab li {
    float: left;
    list-style: none;
    margin: 0 0 0 28px;
    font-family: 宋体；
}

#tab {
    display: inline;
}

#head img {
    position: absolute;
    right: 10px;
    bottom: 0;
}

#head span {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 0px;
    bottom: 5px;
}

#img {
    background-color: black;
    background-image: url(1.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: o;
    position: relative;
}

#text {
    padding: 0px 10px 30px 10px;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 350px;
    opacity: 0.3;
    /* filter: opacity=0, finishopacity=100, style=1, startx=0, starty=85, finishx=150, finishy=85;*/
}

h1 {
    float: right;
    display: inline;
    font-size: 14px;
    color: white;
    opacity: 1;
}

p {
    text-indent: 25px;
    clear: right;
    font-size: 12px;
    color: white;
    opacity: 1;
}